<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Login</title>
</head>
<body>
  <div class="tema">Inicio de sesion </div>
  <form class="container">
    <br>
    <label for="user">&nbsp; &nbsp;  &nbsp; Usuario: &nbsp; </label>
    <input type="text" id="username" [(ngModel)]="user" name="username" required>
    <br><br>
    <label for="password">Contraseña: &nbsp;</label>
    <input type="password" id="password" [(ngModel)]="pass"  name="password" required>
    <br><br>
    <button type="submit" (click)="iniciar()">Iniciar Sesión</button>
  </form> 
</body>
</html>
